{%load static%}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'core\css\login.css' %}" />
    <link rel="stylesheet" href="{% static 'core\css\bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <title>Login | CRYSTALEVENT</title>
  </head>
  <body class="position-relative">

    <div class="header-postion w-100 ">
     <div class="d-flex justify-content-between align-content-center w-100">
      <div class="back-button">
        <a href="/auth/signup">
      <button type="submit" class="btn btn-primary border-0 ms-3">Back</button>
        </a>
    </div>
      <!-- <div class="container-fluid"> -->
        <!-- <div class=" d-flex  align-items-end justify-content-end"> -->
          <a class="navbar-brand ms-auto">
            <img
              src="{% static 'core\img\landing-page img\site-logo.png' %}"
              width="20"
              height="20"
              class="img-fluid"
              alt="logo"
            />
            <span class="site-logo text-dark">CRYSTALEVENT</span>
          </a>
        <!-- </div> -->
       </div> 
    </div>
    </div>
<!-- <div class="big-screen"> -->
  <div class="container-mobile">
    <section class="d-flex">
      
      <section class="Image">
      </section>
      
      <section class="form   mt-5 ps-md-3 px-lg-5 mt-5">    
            <h2 class="text-center mt-5 text-log font-playfair" > <span class="ms-2">Log </span> <span class="orange">In</span></h2>
            <form method="post">
              {%csrf_token%} 
               {{form.as_p}}
               <button type="submit">submit</button>
              
           </form>
           
          <p class="text-center mt-2 font-source fw-bold">Don’t have an account? <a href="/auth/signup" style="text-decoration: none;"><span class="orange">Create Account</span></a></p>
        </div>
      
      </section>
    </div>
    </section> 
    </div> 
    <script src="{%static 'core/js/sweetalert.min.js'%}"></script>
    <script src="{%static 'core/js/axios.min.js' %}" ></script>  
     <script src="{% static 'core\js\script.js'%}"></script> 

</html>